# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual Environments
# ============================

.venv/
venv/
env/

# ============================
# VS Code
# ============================

.vscode/

# ============================
# Pytest
# ============================

.pytest_cache/

# ============================
# Coverage
# ============================

.coverage
htmlcov/

# ============================
# Environment Variables
# ============================

.env

# ============================
# Operating System
# ============================

.DS_Store
Thumbs.db

# ============================
# Logs
# ============================

*.log